/* -- custom css for file sign_up.html -- */

/* -- page-content bg-color-white -- */
#obj-1354 {
	height: 800px;
}

/* -- img w-100 img-fluid -- */
#obj-1355 {
	height: 200px;
}

/* -- block-title ml-4 -- */
#obj-1356 {
	margin-top: 55px;
	 font-size: 24px;
	 color: rgb(50, 87, 237);
}

/* -- block-title mt-1 ml-4 -- */
#obj-1374 {
	color: rgb(50, 87, 237);
	 font-size: 24px;
}

/* -- chip mt-4 chip-outline -- */
#obj-1360 {
	width: 300px;
	 margin-left: 60px;
	 height: 40px;
	 color: rgb(108, 108, 108);
}

/* -- chip mt-3 chip-outline -- */
#chip-1362 {
	height: 40px;
	 margin-left: 60px;
	 width: 300px;
	 color: rgb(108, 108, 108);
}

/* -- chip mt-3 chip-outline -- */
#obj-1377 {
	height: 40px;
	 margin-left: 60px;
	 width: 300px;
	 color: rgb(108, 108, 108);
}

/* -- block-title mt-3 font-underline -- */
#div-1380 {
	font-size: 12px;
	 width: 200px;
	 margin-left: 130px;
	 color: rgb(86, 86, 86);
}

/* -- col button mt-5 button-outline button-round button-fill -- */
#obj-1359 {
	height: 40px;
	 background-color: rgb(50, 87, 237);
	 width: 250px;
	 margin-left: 75px;
}

/* -- col button bg-color-white button-outline button-round button-fill mt-4 -- */
#obj-1373 {
	height: 40px;
	 background-color: rgb(50, 87, 237);
	 color: rgb(38, 59, 231);
	 width: 250px;
	 margin-left: 75px;
}

