/* -- custom css for file home.html -- */

/* -- icon f7-icons ios-only -- */
#obj-1472 {
	color:rgb(50,87,237);
}

/* -- icon f7-icons md-only -- */
#obj-1474 {
	color:rgb(44,126,226);
}

/* -- icon f7-icons ios-only -- */
#obj-1476 {
	color:rgb(50,87,237);
}

/* -- icon f7-icons md-only -- */
#obj-1478 {
	color:rgb(44,126,226);
}

/* -- icon f7-icons ios-only -- */
#obj-1480 {
	color:rgb(50,87,237);
}

/* -- icon f7-icons md-only -- */
#obj-1482 {
	color:rgb(44,126,226);
}

/* -- page-content tab bg-color-white -- */
#toolbar-o-1011-subtab-1 {
	height: 800px;
}

/* -- card -- */
#card-1648 {
	box-sizing: border-box;
	 border: 1px solid;
	 border-radius: 15px;
	 box-shadow: rgb(0, 0, 0) 0px 0px 7px 0px;
}

/* -- flexbox display-flex -- */
#flexbox-1662 {
	width: 330px;
	 height: 30px;
}

/* -- fa f7-icons -- */
#icon-1663 {
	height: 30px;
	 width: 30px;
	 font-size: 25px;
	 color: rgb(50, 87, 238);
}

/* -- h1 mt-0 ml-2 -- */
#h1-1664 {
	font-size: 20px;
	 height: 25px;
	 color: rgb(50, 87, 238);
}

/* -- card w-100 text-left mb-2 mt-2 -- */
#obj-1547 {
	line-height: 19px;
	 border-radius: 15px;
	 box-shadow: rgba(0, 0, 0, 0.38) 0px 0px 7px 0px;
	 height: 100px;
}

/* -- img w-25 img-fluid -- */
#img-1624 {
	height: 65px;
}

/* -- row no-gap ml-3 -- */
#obj-1610 {
	width: 250px;
}

/* -- flexbox display-flex flex-column align-items-flex-start flex-nowrap -- */
#obj-1612 {
	font-family: Poppins;
}

/* -- fa mr-2 f7-icons s-3 -- */
#obj-1614 {
	color: rgb(38, 58, 231);
}

/* -- h1 mt-2 -- */
#h1-1619 {
	font-size: 15px;
	 color: rgb(59, 59, 59);
}

/* -- h2 mt-0 -- */
#estado {
	color: rgb(76, 76, 76);
}

/* -- container-link mt-0 -- */
#div-1449 {
	padding-bottom: 300px;
}

/* -- card -- */
#card-1654 {
	box-shadow: rgb(0, 0, 0) 0px 0px 7px 0px;
}

/* -- flexbox display-flex -- */
#flexbox-1669 {
	width: 330px;
	 height: 30px;
}

/* -- fa f7-icons -- */
#icon-1670 {
	width: 30px;
	 font-size: 25px;
	 height: 30px;
	 color: rgb(50, 87, 238);
}

/* -- h1 p-0 mt-0 ml-2 -- */
#h1-1671 {
	height: 30px;
	 font-size: 20px;
	 color: rgb(50, 87, 238);
}

/* -- flexbox display-flex -- */
#obj-1674 {
	position: relative;
}

/* -- h5 -- */
#obj-1675 {
	width: 7px;
}

/* -- card w-100 text-left mb-2 mt-2 mr-2 ml-2 -- */
#obj-1676 {
	line-height: 19px;
	 border-radius: 15px;
	 box-shadow: rgba(72, 72, 72, 0.38) 0px 0px 7px 0px;
}

/* -- flexbox display-flex m-2 flex-column justify-content-center align-items-flex-start flex-nowrap -- */
#obj-1678 {
	position: relative;
}

/* -- h5 w-100 text-center mb-0 mt-2 fw-600 bg-color-white -- */
#obj-1679 {
	position: relative;
	 font-family: Poppins;
	 top: -10px;
	 font-size: 12px;
	 line-height: 14px;
	 background-color: rgb(50, 87, 238);
	 color: rgb(50, 87, 238);
}

/* -- h5 m-0 fw-200 text-right w-25 text-black -- */
#obj-1681 {
	font-family: Poppins;
	 font-size: 12px;
	 line-height: 20px;
	 position: relative;
	 top: 0px;
	 left: 0px;
}

/* -- h5 m-0 w-50 text-center text-black -- */
#latitud {
	font-family: Poppins;
	 font-size: 20px;
	 line-height: 20px;
	 position: relative;
}

/* -- h5 m-0 fw-200 text-right w-25 text-black -- */
#obj-1685 {
	font-family: Poppins;
	 font-size: 12px;
	 line-height: 20px;
	 position: relative;
	 top: 0px;
	 left: 0px;
}

/* -- h5 m-0 w-50 text-center text-black -- */
#longitud {
	font-family: Poppins;
	 font-size: 20px;
	 line-height: 20px;
	 position: relative;
}

/* -- card w-100 text-left mb-2 mt-2 mr-2 ml-2 -- */
#obj-1688 {
	line-height: 19px;
	 border-radius: 15px;
	 box-shadow: rgba(72, 72, 72, 0.38) 0px 0px 7px 0px;
}

/* -- flexbox display-flex m-2 flex-column justify-content-center align-items-flex-start flex-nowrap -- */
#obj-1690 {
	position: relative;
}

/* -- h5 w-100 text-center mb-0 mt-2 fw-600 -- */
#obj-1691 {
	position: relative;
	 font-family: Poppins;
	 top: -10px;
	 font-size: 12px;
	 line-height: 14px;
	 color: rgb(50, 87, 238);
}

/* -- h5 m-0 fw-200 text-right w-25 text-black -- */
#obj-1693 {
	font-family: Poppins;
	 font-size: 12px;
	 line-height: 20px;
	 position: relative;
	 top: 0px;
	 left: 0px;
}

/* -- h5 m-0 w-50 text-center text-black -- */
#acelerometro {
	font-family: Poppins;
	 font-size: 20px;
	 line-height: 20px;
	 position: relative;
}

/* -- h5 -- */
#obj-1700 {
	width: 7px;
}

/* -- h1 mt-4 -- */
#h1-1499 {
	color: rgb(50, 87, 238);
	 font-size: 22px;
}

/* -- img w-100 img-fluid mt-0 -- */
#img-1452 {
	height: 300px;
}

/* -- h1 ml-3 -- */
#h1-1453 {
	color: rgb(0, 0, 0);
	 font-size: 20px;
}

/* -- grid grid-gap grid-cols-3 ml-2 mr-2 -- */
#grid-1454 {
	height: 80px;
	 box-sizing: border-box;
}

/* -- block custom-block block-text text-center mt-2 -- */
#div-1462 {
	font-size: 17px;
	 border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

/* -- block custom-block block-text text-center mt-2 -- */
#div-1465 {
	font-size: 17px;
	 border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

/* -- block custom-block block-text text-center mt-2 -- */
#div-1468 {
	font-size: 17px;
	 border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

/* -- col button button-raised button-round button-fill -- */
#button-1471 {
	width: 250px;
	 height: 40px;
	 background-color: rgb(50, 87, 237);
	 margin-left: 65px;
	 margin-top: 50px;
}

/* -- img w-100 img-fluid -- */
#img-1485 {
	height: 201px;
}

/* -- h1 ml-3 mt-4 -- */
#h1-1486 {
	font-size: 20px;
}

/* -- chip chip-outline ml-4 -- */
#chip-1487 {
	height: 35px;
	 width: 300px;
	 color: rgb(108, 108, 108);
}

/* -- h1 ml-3 -- */
#h1-1490 {
	font-size: 20px;
}

/* -- chip chip-outline ml-4 -- */
#chip-1491 {
	width: 300px;
	 height: 35px;
	 color: rgb(108, 108, 108);
}

/* -- h1 ml-3 -- */
#h1-1494 {
	font-size: 20px;
}

/* -- chip chip-outline ml-4 -- */
#chip-1495 {
	width: 300px;
	 height: 35px;
	 color: rgb(108, 108, 108);
}

/* -- col button button-raised button-round button-fill ml-5 -- */
#button-1500 {
	margin-top: 60px;
	 width: 300px;
	 height: 40px;
	 background-color: rgb(50, 87, 238);
}

/* -- col button bg-color-white ml-5 mt-3 button-raised button-outline button-round button-fill -- */
#button-1501 {
	color: rgb(50, 87, 238);
	 width: 300px;
	 height: 40px;
}

