/* -- custom css for file index.html -- */

/* -- page-content bg-color-white mt-0 -- */
#page-contents-o-1099 {
	width: 404px;
	 background-color: rgb(31, 128, 238);
}

/* -- flexbox display-flex flex-column justify-content-center align-items-center flex-nowrap -- */
#flexbox-1701 {
	margin-top: 100px;
}

/* -- img w-100 img-fluid mt-0 -- */
#img-1503 {
	height: 300px;
}

